.login {
    color: $color3;
    height: 100vh;
    @include flex(column);
  
    > main {
      width: 100%;
      height: 80%;
      max-width: 400px;
      padding: 2rem;
      @include baseShadow;
      @include flex(column, center, center);

      > h1 {
        // position: relative;
        // left: 8rem;
        text-transform: uppercase;
        letter-spacing: 4px;
      }

      > div {
        width: 100%;
        @include flex(column, flex-start, stretch, 0.2rem);
      
        > input, select {
          color: #ffffff; 
          @include inputStyle;
          border: 0.8px solid $color2;
          border-radius: 5px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          &:hover {
            cursor: pointer;
          }
        }

        > select {
          
           > option {
              background-color: $color2;
              color: #000;
           }
      }

        > input::placeholder, ::-webkit-datetime-edit, select:valid {
          color: $color2;
        }

        > input[type=date]::-webkit-calendar-picker-indicator {
          background-color: $color2;
        }
        
        > input[type=date]::-webkit-datetime-edit:focus {
          color: #ffffff;        
        }

        > button.submit {
            margin-top: .5rem;
            color: $color2; 
            @include inputStyle;
            border: 2px solid $color2;
            border-radius: 5px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

            &:hover{
              cursor: pointer;
              background-color: $color3;
              color: #000;
              text-transform: uppercase;

            }
          }

        > p.or {
          text-align: center;
          margin: 2rem;
        }

        > p.user {
          text-align: center;
        }
  
        button.google {
          width: 70%;
          margin: auto;
          height: 3rem;
          @include btn(unset, #407ef2, #ffffff);
          @include flex;
          border: 1px solid #3e7df2;
          border-radius: 5px;
          font-size: 1.05rem;
          margin-top: 2rem;
          
          > svg {
            background-color: #ffffff;
            width: 30%;
            height: 100%;
          }
  
          > span {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }