.search {
    color: $color2;
    padding: 2rem;
    @include flex(row, flex-start, stretch, 2rem);
    min-height: calc(100vh - 6.5vh);

    > aside {
        min-width: 20rem;
        padding: 2rem;
        @include flex(column, flex-start, stretch, 0.5rem);
        @include baseShadow;

        > h2 {
            @include heading;
        }

        > div {
            > input, > select {
                @include inputStyle(100%, 1rem, #fff, 1px solid $color2);
                border-radius: 10px;
                margin: 0.5rem;
            }
        }
    }

    > main {
        width: 100%;
        padding: 0 2rem;

        > h1 {
            @include heading;
        }

        > div {
            @include flex(row, flex-start);

            > input {
                @include inputStyle(50%);
                display: block;
                margin: 1rem;
                font-size: 1.2rem;
                border-radius: 5px;
                color: #fff;
                &:hover{
                    transition: 0.2s all;
                    transform: scale(1.1);
                }

            }

            > svg {
                &:hover {
                    cursor: pointer;
                    transition: 0.3s all;
                    transform: scale(1.5);
                }
            }

        }

        .search-list{
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            height: calc(100% - 10rem);
            overflow-y: auto;
        }

        article {
            @include flex;

            > button {
                @include flex;
                @include btn(0.5rem 1rem, $color3, $color1);
                border-radius: 10px;
                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                    color: $color2;
                }
            }
        }
    }
}